/* Sass configuration */
/* $color-primary: #ffff00; */
/* End Sass configuration */

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(49, 49, 49);
}

.nav-items {
    align-items: center;
    height: 80px;
    color: white;
}

nav a {
    text-decoration-color: white;
    color: white;
}

.btn-group,
.btn {
    text-decoration-color: white;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

footer {
    background-color: #414141;
}
